<div class="card my-4 py-3">
    <div class="card-body">
        <h6 class="fw-bold lead text-wrap text-center">
            {{ labels.titulo }}<span class="required fs-6 fw-light">&emsp;{{ estado }}</span> 
        </h6>

        <form [formGroup]="form" class="pt-4">
            <div class="row form-row">
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.tipoDocumento }}</label>
                    <select class="form-control" formControlName="tipoDocumento">
                        <option *ngFor="let tipo of tiposDocumento" value="{{ tipo.siglas }}">{{ tipo.nombre }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.numeroDocumento }}
                        <span class="required">*</span></label>
                    <div class="input-group">
                        <input class="form-control" formControlName="numeroDocumento"
                            placeholder="Ej. 1023456123" min="1" max="9999999999" />
                        <button class="btn btn-primary" type="button" (click)="buscar($event)">
                            <i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.genero }}</label>
                    <select class="form-control" formControlName="genero">
                        <option *ngFor="let genero of generos" value="{{ genero.nombre }}">
                            {{ genero.nombre }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.estadocivil }}</label>
                    <select class="form-control" formControlName="estadocivil">
                        <option *ngFor="let estadocivil of estadosciviles" value="{{ estadocivil.nombre }}">
                            {{ estadocivil.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.primerNombre }}
                        <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="primerNombre" maxlength="100"
                        placeholder="Ej. Carlos" />
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.segundoNombre }}</label>
                    <input type="text" class="form-control" formControlName="segundoNombre" maxlength="100"
                        placeholder="Ej. Fernando" />
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.primerApellido }}
                        <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="primerApellido" maxlength="100"
                        placeholder="Ej. López" />
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.segundoApellido }}</label>
                    <input type="text" class="form-control" formControlName="segundoApellido" maxlength="100"
                        placeholder="Ej. Guerrero" />
                </div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.fechanacimiento }}
                        <span class="required">*</span></label>
                    <input type="date" class="form-control" formControlName="fechanacimiento"
                        [max]="obtenerMaximaFecha()" />
                </div>
                <div class="col-md-2">
                    <label class="form-label fw-bold">{{ labels.edad }}</label>
                    <input type="text" class="form-control" formControlName="edad" />
                </div>
                <div class="col-md-7"></div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.paisnacimiento }}</label>
                    <input type="text" class="form-control" formControlName="paisnacimiento" />
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.departamentonacimiento }}
                        <span class="required">*</span></label>
                    <select class="form-control" formControlName="departamentonacimiento">
                        <option *ngFor="let departamento of departamentos" value="{{ departamento.departamento }}">
                            {{ departamento.departamento }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.ciudadnacimiento }}
                        <span class="required">*</span></label>
                    <select class="form-control" formControlName="ciudadnacimiento">
                        <option *ngFor="let ciudad of ciudadesnacimiento" value="{{ ciudad.ciudad }}">
                            {{ ciudad.ciudad }}</option>
                    </select>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-12">
                    <label class="form-label fw-bold">{{ labels.direccion }}
                        <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="direccion"
                        placeholder="Ej. Calle 13#45-67 Oficina 201" maxlength="200" />
                </div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.pais }}</label>
                    <input type="text" class="form-control" formControlName="pais" />
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.departamento }}
                        <span class="required">*</span></label>
                    <select class="form-control" formControlName="departamento">
                        <option *ngFor="let departamento of departamentos" value="{{ departamento.departamento }}">
                            {{ departamento.departamento }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label fw-bold">{{ labels.ciudad }}
                        <span class="required">*</span></label>
                    <select class="form-control" formControlName="ciudad">
                        <option *ngFor="let ciudad of ciudades" value="{{ ciudad.ciudad }}">
                            {{ ciudad.ciudad }}</option>
                    </select>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-4">
                    <label class="form-label fw-bold">{{ labels.telefono }}</label>
                    <input type="text" class="form-control" formControlName="telefono" maxlength="200" />
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold">{{ labels.correo }}</label>
                    <input type="email" class="form-control" formControlName="correo" maxlength="200" />
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-4">
                    <label class="form-label fw-bold">{{ labels.nivelescolaridad }}</label>
                    <select class="form-control" formControlName="nivelescolaridad">
                        <option *ngFor="let niveles of nivelesescolaridad" value="{{ niveles.nombre }}">
                            {{ niveles.nombre }}</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <label class="form-label fw-bold">{{ labels.profesion }}
                        <span class="required">*</span></label>
                    <input type="text" class="form-control" formControlName="profesion" maxlength="200" />
                </div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-4">
                    <label class="form-label fw-bold">{{ labels.eps }}</label>
                    <select class="form-control" formControlName="eps">
                        <option *ngFor="let eps of epss" value="{{ eps.nombre }}">
                            {{ eps.nombre }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold">{{ labels.arl }}</label>
                    <select class="form-control" formControlName="arl">
                        <option *ngFor="let arl of arls" value="{{ arl.nombre }}">
                            {{ arl.nombre }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold">{{ labels.afp }}</label>
                    <select class="form-control" formControlName="afp">
                        <option *ngFor="let afp of afps" value="{{ afp.nombre }}">
                            {{ afp.nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="row form-row pt-3">
                <div class="col-md-12 d-flex flex-row-reverse">
                    <button type="button" class="btn btn-primary" (click)="guardar($event)" [disabled]="form.invalid">
                        {{ labels.guardar }}</button>
                </div>
            </div>
        </form>
    </div>
</div>